<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @store.id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @store.note %>
</p>

<p>
  <strong>Createtime:</strong>
  <%= @store.createtime %>
</p>

<p>
  <strong>Updatetime:</strong>
  <%= @store.updatetime %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
